$input-border: none;
$input-bgcolor: #f6f6f6;
$input-bgcolor-hover: #f0f0f0;
$input-bgcolor-focus: #fff;

$button-border: 1px #aaa solid;
$button-bgcolor: #eee;
$button-bgcolor-hover: #ddd;
$button-bgcolor-active: #fff;

$transition-duration: 0.25s;

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  outline: none;
}

body {
  margin: 0;
  padding: 5px;
}

/* controls */

#controls {
  display: flex;
}

#input {
  display: block;
  border: $input-border;
  padding: 5px;
  width: 500px;
  transition: background-color $transition-duration;

  background-color: $input-bgcolor;
  &:hover { background-color: $input-bgcolor-hover; }
  &:focus { background-color: $input-bgcolor-focus; }
}

#controls button {
  display: block;
  border: $button-border;
  margin-left: 5px;
  padding: 5px;
  cursor: pointer;
  width: 100px;
  transition: background-color $transition-duration;

  background-color: $button-bgcolor;
  &:hover { background-color: $button-bgcolor-hover; }
  &:active {
    background-color: $button-bgcolor-active;
    transition: none;
  }
}

/* error */

#error {
  background-color: #f55;
  border: 1px #f00 solid;
  margin-top: 10px;
  padding: 15px;
  color: #fff;
}
